@model Product
@{
    ViewData["Title"] = "Detail";
   
}     

<div class="ml-5">
    <div style="width:150px;height:150px">
        <img src="~/images/@Model.Image" style="width:100%;height:100%"  alt="Image"/>
    </div>
    <h1> Name:@Model.Name</h1>
    <h2 class="text text-success">Price: @Model.Price</h2>
    <h2 ">Description: @Model.Description</h2>
</div>