@{
    ViewData["Title"] = "Home Page";
}
@model HomeVm
<div class="coffee_section layout_padding">
    <div class="container">
        <div class="row">
            <h1 class="coffee_taital">OUR Coffee OFFER</h1>
            <div class="bulit_icon"><img src="~/images/bulit-icon.png"></div>
        </div>
    </div>
    <div class="coffee_section_2">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="~/images/img-1.png"></div>
                                <h3 class="types_text">TYPES OF COFFEE</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                                <div class="read_bt"><a href="#">Read More</a></div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="~/images/img-2.png"></div>
                                <h3 class="types_text">BEAN VARIETIES</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                                <div class="read_bt"><a href="#">Read More</a></div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="~/images/img-3.png"></div>
                                <h3 class="types_text">COFFEE & PASTRY</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                                <div class="read_bt"><a href="#">Read More</a></div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="~/images/img-4.png"></div>
                                <h3 class="types_text">COFFEE TO GO</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                                <div class="read_bt"><a href="#">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="~/images/img-1.png"></div>
                                <h3 class="types_text">TYPES OF COFFEE</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                                <div class="read_bt"><a href="#">Read More</a></div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="~/images/img-2.png"></div>
                                <h3 class="types_text">BEAN VARIETIES</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                                <div class="read_bt"><a href="#">Read More</a></div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="~/images/img-3.png"></div>
                                <h3 class="types_text">COFFEE & PASTRY</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                                <div class="read_bt"><a href="#">Read More</a></div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="~/images/img-4.png"></div>
                                <h3 class="types_text">COFFEE TO GO</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                                <div class="read_bt"><a href="#">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="~/images/img-1.png"></div>
                                <h3 class="types_text">TYPES OF COFFEE</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                                <div class="read_bt"><a href="#">Read More</a></div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="~/images/img-2.png"></div>
                                <h3 class="types_text">BEAN VARIETIES</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                                <div class="read_bt"><a href="#">Read More</a></div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="~/images/img-3.png"></div>
                                <h3 class="types_text">COFFEE & PASTRY</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                                <div class="read_bt"><a href="#">Read More</a></div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="~/images/img-4.png"></div>
                                <h3 class="types_text">COFFEE TO GO</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                                <div class="read_bt"><a href="#">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- coffee section end -->
<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="about_taital">About Our shop</h1>
                <div class="bulit_icon"><img src="~/images/bulit-icon.png"></div>
            </div>
        </div>
        <div class="about_section_2 layout_padding">
            <div class="image_iman"><img src="~/images/about-img.png" class="about_img"></div>
            <div class="about_taital_box">
                <h1 class="about_taital_1">Coffee distribution '</h1>
                <p class=" about_text">has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorhas a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editor</p>
                <div class="readmore_btn"><a href="#">Read More</a></div>
            </div>
        </div>
    </div>
</div>
<!-- about section end -->
<!-- client section start -->
<div class="client_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="about_taital">What syas customers</h1>
                <div class="bulit_icon"><img src="~/images/bulit-icon.png"></div>
            </div>
        </div>
        <div class="client_section_2">
              @foreach (var item in Model.Customers)
            {
                <div class="client_taital_main">
                    <div class="client_left">
                        <div class="client_img"><img src="~/images/@item.Img"></div>
                    </div>
                    <div class="client_right">
                        <h3 class="moark_text">@item.Name</h3>
                        <p class="client_text">@item.Message </p>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
<!-- client section end -->
<!-- blog section start -->
<div class="blog_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="about_taital">Our Blog</h1>
                <div class="bulit_icon"><img src="~/images/bulit-icon.png"></div>
            </div>
        </div>
        <div class="blog_section_2">
            <div class="row">
                <div class="col-md-6">
                    <div class="blog_box">
                        <div class="blog_img"><img src="~/images/blog-img1.png"></div>
                        <h4 class="date_text">05 April</h4>
                        <h4 class="prep_text">PREP TECHNIQUES Coffee</h4>
                        <p class="lorem_text">distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a moredistracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more</p>
                    </div>
                    <div class="read_bt"><a href="#">Read More</a></div>
                </div>
                <div class="col-md-6">
                    <div class="blog_box">
                        <div class="blog_img"><img src="~/images/blog-img2.png"></div>
                        <h4 class="date_text">05 April</h4>
                        <h4 class="prep_text">PREP TECHNIQUES Coffee</h4>
                        <p class="lorem_text">distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a moredistracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more</p>
                    </div>
                    <div class="read_bt"><a href="#">Read More</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog section end -->
<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="contact_taital">Get In Touch</h1>
                <div class="bulit_icon"><img src="~/images/bulit-icon.png"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="contact_section_2">
            <div class="row">
                <div class="col-md-12">
                    <div class="mail_section_1">
                        <input type="text" class="mail_text" placeholder="Your Name" name="Your Name">
                        <input type="text" class="mail_text" placeholder="Your Email" name="Your Email">
                        <input type="text" class="mail_text" placeholder="Your Phone" name="Your Phone">
                        <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                        <div class="send_bt"><a href="#">SEND</a></div>
                    </div>
                </div>
                <div class="map_main">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="250" height="500" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>